/**
  |============================
  | include css partials with
  | default @import url()
  |============================
*/
/* Common styles */
@import url('./reset.css');
@import url('./base.css');
@import url('./container.css');
@import url('./animations.css');

/* Sections style */

@import url('./vite-promo.css');
@import url('./badges.css');
@import url('./back-link.css');
@import url('./footer.css');

@import 'simplelightbox/dist/simple-lightbox.min.css';

.header {
  padding: 20px 0;
}


.nav {
  display: flex;
  justify-content: space-between;
}
.nav-logo {
  display: inline-flex;
  align-items: center;
  justify-content: center;
}
.nav-list {
  display: flex;
  align-items: center;
  justify-content: flex-end;
  gap: 40px;
}
.nav-link {
  position: relative;
  display: block;
  font-weight: 500;
  letter-spacing: 0.02em;
  transition: 200ms ease-in;
}
.nav-link:hover,
.nav-link:focus {
  color: #747bff;
}
.nav-link::after {
  content: '';
  position: absolute;
  bottom: 0;
  left: 50%;
  transform: translateX(-50%) translateY(100%);
  width: 110%;
  height: 4px;
  border-radius: 4px;
  transform-origin: center;
  animation: stretch 400ms cubic-bezier(0.68, -0.55, 0.27, 1.55) 200ms both;
}
.nav-link.active::after {
  background: #747bff;
}

.gallery-image {
  width : 360px;
  height :200px;
}

.gallery {
  display: flex;
  flex-wrap: wrap;
  gap: 10px;
}
.gallery-link {
  
}
.gallery-item {
 
}
.main-title {
/* text-align: center;   */
color: rgb(13, 4, 21);
}
  
.modal-image {
  margin-left: auto;
  margin-right: auto;
  /* display: block; */
  text-align: center;
 }

.feedback-form {
  /* text-align: center; */
   width :360px;
  /* height : 192px; */
  margin-left: auto;
  margin-right: auto;
  display: flex;
  flex-direction: column;
  gap: 24px ; 
  /* flex-wrap: wrap; */
  /* width: 264px; */
  /* height: 40px; */
}
.email-class{
  width :360px;
}
.class-Submit{
  width: 95px;
  height: 40px;
  padding: 8px 16px 8px 16px;
  gap: 10px;
  border-radius: 8px 0px 0px 0px;
  opacity: 0px;
  margin-left: auto;
  margin-right: auto;
}
